body{
    background-color: black;
}

h1{
    color: green;
    display: flex;
    justify-content: center;
    border: solid grey;
    width: 155px;
    padding: 2px 2px;
    margin: auto auto;
}

.cont{
    background-color: aqua;
    display: flex;
    height: 290px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    clear: both;
}

.b1{
    background-color: red;
    height: 100px;
    width: 50%;
}
.b2{
    background-color: green;
    height: 100px;
    width: 50%;
}
.b3{
    background-color: blue;
    height: 100px;
    width: 50%;
}